[submodule "themes/inkblotty"]
	path = themes/inkblotty
	url = https://github.com/wildDoubt/inkblotty.git
[submodule "themes/hugo-clarity"]
	path = themes/hugo-clarity
	url = https://github.com/wildDoubt/hugo-clarity.git
